<div class="za">
    <div class="a">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="b">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="c">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
</div>

<div class="zb">
    <div class="d">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="e">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="f">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
</div>

<div class="zc">
    <div class="g">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="h">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="i">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
</div>

<div class="zd">
    <div class="j">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="k">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="l">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
</div>

<div class="ze">
    <div class="m">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="n">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="o">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
</div>

<div class="zf">
    <div class="p">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="q">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="r">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
</div>

<div class="zg">
    <div class="s">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="t">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="u">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
</div>

<div class="zh">
    <div class="v">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="w">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="x">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
</div>

<div class="zi">
    <div class="y">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="z">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="aa">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
</div>

<div class="zj">
    <div class="ab">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="ac">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="ad">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
</div>

<div class="zk">
    <div class="ae">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="af">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
    <div class="ag">
      <% @random.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    </div>
</div>

<!-- スマホ,タブレットのみ表示 -->
<div class="qqq">
  <% @random.each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 100, 30 %>
  <% end %>
</div>

<script type="text/javascript">
        $(document).ready(function(){
          $('.a').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 300, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.b').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 290, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.c').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 310, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.d').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 280, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.e').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 312, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.f').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 330, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.g').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 279, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.h').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 295, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.i').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 374, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.j').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 308, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.k').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 290, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.l').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 286, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.m').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 294, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.n').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 305, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.o').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 319, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.p').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 295, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.q').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 321, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.r').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 283, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.s').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 292, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.t').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 317, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.u').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 302, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.v').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 292, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.w').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 287, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.x').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 282, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.y').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 279, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.z').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 285, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.aa').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 322, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.ab').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 318, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.ac').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 326, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.ad').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 221, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.ae').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 253, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.af').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 345, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.ag').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 277, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
          $('.qqq').slick({
            autoplay: true, //自動再生
            infinite: true, //スライドのループ有効化
            autoplaySpeed: 1,
            speed: 800, //切り替えのスピード（小さくすると速くなる）
            arrows: false,
            fade: true //フェードの有効化
          });
        });
      </script>