<div class="container">

  <div class="col-md-12">
    <%= render :partial => "image" %>
  </div></br>

  <!-- 検索フォーム -->
  <div class="col-md-12">
    <div class="searchbtn">
      <%= search_form_for(@q, url:trips_path) do |f| %>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <%= f.search_field :title_or_subtitle_cont %>
        <%= f.submit '検索', class: 'btn btn-primary'  %>
      <% end %>
    </div>
  </div>

  <body>
    <div class="row">
      <div class="trip">
        <table class="table table-bordered">
          <table class="table table-striped">
            <% @trips.each do |trip| %>
                  <tr>
                    <td><%= link_to trip.title, trip_path(trip.id) %></td>
                    <td><%= trip.subtitle %></td>
                    <td><span class="glyphicon glyphicon-heart" aria-hidden="true"> <%= trip.likes.count %></span></td>
                    <td><%= attachment_image_tag trip.enduser, :profile_image, :fill, 100, 100, class: "img-circle profile-thumb", fallback: "no_image.jpg"%></td>
                    <td><%= trip.enduser.name %></td>
      </div>
                  </tr>
          <% end %>
          </table>
        </table>
    </div>
      <div class="paginate" style="font-size: 20px">
  	    <%= paginate(@trips) %>
  	  </div>

      <% if enduser_signed_in? %>
  	  <ul class="list-inline">
  	    <li><%= link_to "新規旅行情報追加",  new_trip_path, class: "btn btn-primary btn-lg" %></li>
  	  </ul>
  	<% else %>
  	  <ul class="list-inline">
  	    <li><%= link_to "新規旅行情報追加",  enduser_session_path, class: "btn btn-primary btn-lg" %></li>
  	  </ul>
  	<% end %>
  </body>
</div>

