<div class="container">
    <div class="row">
    	<h2>いいねランキング</h2>
      <div class="trip">
        <table class="table table-respansive">
          <table class="table table-hover">
          	<% i= 1 %>
	            <% @trips.each do |trip| %>
                <tr>
                  <td>
                    <h4><%= i %>位</h4>
                  </td>
                  <td><%= link_to trip.title, admin_trip_path(trip.id) %></td>
                  <td><%= trip.subtitle %></td>
                  <td><span class="glyphicon glyphicon-heart" aria-hidden="true"> <%= trip.likes.count %></span></td>
                  <td><%= attachment_image_tag trip.enduser, :profile_image, :fill, 50, 50, class: "img-circle profile-thumb", fallback: "no_image.jpg"%></td>
                  <td><%= trip.enduser.name %></td>
			      <% i+=1 %>
      </div>
                        </tr>
                <% end %>
          </table>
        </table>
    </div>
</div>