<div class="container">
  <div class="row">
  	<h1>マイページ</h1>
    <div style="padding: 5px; margin-top: 20px; margin-bottom: 10px; border: 1px solid #3cb371; border-radius: 10px;">
      <table class="table table-striped">
        <tbody>
        	<%= attachment_image_tag @enduser, :profile_image, :fill, 100, 100, class: "img-circle profile-thumb", fallback: "no_image.jpg"%>
          <tr style="background-color:#f5f5f5">
	          <th><p>お名前</p></th>
	          <th><p>メールアドレス</p></th>
	      </tr>
	      <tr style="background-color:#f5f5f5">
	          <th><%= @enduser.name %></th>
      	      <th><%= @enduser.email %></th>
          </tr>
        </tbody>
      </table>
      <%= link_to edit_enduser_path(@enduser), class: 'btn-default' do %>
          <%= 'ユーザー情報編集' %>
          <button type="button" class="btn btn-default btn-block" ><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
        <% end %>
    </div>

    <div class="row">
      <div class="trip">
        <table class="table table-bordered">
          <table class="table table-striped">
            <% @trips.each do |trip| %>
              <tr>
                <td><%= link_to trip.title, trip_path(trip.id) %></td>
                <td><%= trip.subtitle %></td>
                <td><span class="glyphicon glyphicon-heart" aria-hidden="true"> <%= trip.likes.count %></td>
                <td><%= attachment_image_tag trip.enduser, :profile_image, :fill, 100, 100, class: "img-circle profile-thumb", fallback: "no_image.jpg"%></td>
                <td><%= trip.enduser.name %></td>
              </tr>
          <% end %>
          </table>
        </table>
      </div>
    </div>
      <div class="paginate" style="font-size: 20px">
        <%= paginate(@trips) %>
      </div>

  </div>
</div>