<div class="container">
  <h1 style="margin-bottom: 50px;">管理者ログイン</h1>
  <div style="padding: 10px; margin-top: 20px; margin-bottom: 10px; border: 1px solid Transparent; border-radius: 10px; text-align:center; background-color: Transparent;">
      <div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <div style="margin-bottom:10px;">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="field">
        <div style="margin-bottom:10px;">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div style="margin-bottom:10px;">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        </div>
      <% end %>

      <div class="actions">
        <div style="margin-bottom:5px;">
        <%= f.submit "Log in" %>
      </div>
      </div>
    <% end %>

    <%= render "admins/shared/links" %>
  </div>
</div>
