<div class="container">
  <!-- 検索フォーム -->
  <div class="searchbtn">
    <%= search_form_for(@q, url:admin_trips_path) do |f| %>
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      <%= f.search_field :title_or_subtitle_cont %>
      <%= f.submit '検索', class: 'btn btn-primary'  %>
    <% end %>
  </div>

  <body>
    <div class="row">
      <div class="trip">
        <table class="table table-responsive">
          <table class="table table-hover">
            <% @trips.each do |trip| %>
                  <tr>
                    <td><%= link_to trip.title, admin_trip_path(trip.id) %></td>
                    <td><%= trip.subtitle %></td>
                    <td><span class="glyphicon glyphicon-heart" aria-hidden="true"> <%= trip.likes.count %></td>
                    <td><%= attachment_image_tag trip.enduser, :profile_image, :fill, 50, 50, class: "img-circle profile-thumb", fallback: "/images/no_image.jpg"%></td>
                    <td><%= trip.enduser.name %></td>
                  </tr>
          <% end %>
          </table>
        </table>
      </div>
    </div>
    <div class="paginate" style="font-size: 20px">
      <%= paginate(@trips) %>
    </div>

  </body>
</div>

