<!DOCTYPE html>
<html>
<div class="main-container">
  <head>
    <title>Tabirepi</title>
      <!-- API 地図データ読み込み -->
      <meta charset="utf-8" />
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
      <link rel="stylesheet" href="https://rawgit.com/k4r573n/leaflet-control-osm-geocoder/master/Control.OSMGeocoder.css" />
      <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
      <script src="https://rawgit.com/k4r573n/leaflet-control-osm-geocoder/master/Control.OSMGeocoder.js"></script>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <!-- jQuery slick -->
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

      <!-- application cssファイル読み込み -->
      <link rel="stylesheet" href="application.scss" type="text/css">

      <!-- ハンバーガーメニュー -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="css/style.css" media="all">

  </head>

    <header>
      <nav class="navbar navbar-inverse" style="background-color: #89c7de;">
        <div class="container">
          <div class="row">

              <div class="col-md-4">
                <% if admin_signed_in? %>
                  <%= link_to admin_trips_path do %>
                    <h4><div class="sub logocolor">あなたの旅をレシピする</div></h4></br>
                    <h2><div class="title logocolor">Tabirepi</div></h2>
                  <% end %>
                <% else %>
                  <%= link_to trips_path do %>
                    <h4><div class="sub logocolor">あなたの旅をレシピする</div></h4></br>
                    <h2><div class="title logocolor">Tabirepi</div></h2>
                  <% end %>
                <% end %>
              </div>
          </div>
        </div>
      </nav>

      <!-- ハンバーガーメニュー　ここから -->
      <div id="sp-menu">
        <h1>MENU</h1></br>
        <% if enduser_signed_in? %>
          <ul class="list-inline">
            <li><%= link_to sanitize('<i class="glyphicon glyphicon-pencil"></i> ') + '新規旅行情報追加', new_trip_path %></li></br>
            <li><%= link_to sanitize('<i class="glyphicon glyphicon-home"></i> ') + '一覧画面', trips_path %>
            </li></br>
            <li><%= link_to sanitize('<i class="glyphicon glyphicon-tower"></i> ') + 'ランキング', rankings_path %>
            </li></br>
            <li><%= link_to sanitize('<i class="glyphicon glyphicon-user"></i> ') + 'マイページ', enduser_path(current_enduser.id) %>
            </li></br>
            <li><%= link_to sanitize('<i class="glyphicon glyphicon-log-out"></i> ') + 'ログアウト', destroy_enduser_session_path, method: :delete %>
            </li></br>
            <li><%= link_to sanitize('<i class="glyphicon glyphicon-trash"></i> ') + "退会", enduser_registration_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-danger", class: "btn btn-xs" %>
            </li></br>
          </ul>
        <% elsif admin_signed_in? %>
            <ul class="list-inline">
              <li><%= link_to sanitize('<i class="glyphicon glyphicon-user"></i> ') + 'ユーザー一覧', admins_path %></li></br>
              <li><%= link_to sanitize('<i class="glyphicon glyphicon-home"></i> ') + '旅行情報一覧', admin_trips_path %></li></br>
              <li><%= link_to sanitize('<i class="glyphicon glyphicon-tower"></i> ') + 'ランキング', admin_rankings_path %>
              </li></br>
              <li><%= link_to sanitize('<i class="glyphicon glyphicon-log-out"></i> ') + 'ログアウト', destroy_admin_session_path, method: :delete %>
              </li></br>
            </ul>
        <% else %>
            <ul class="list-inline">
              <li><%= link_to sanitize('<i class="glyphicon glyphicon-home"></i> ') + 'ホーム', trips_path %>
              </li></br>
              <li><%= link_to sanitize('<i class="glyphicon glyphicon-tower"></i> ') + 'ランキング', rankings_path %>
              </li></br>
              <li><%= link_to sanitize('<i class="glyphicon glyphicon-edit"></i> ') + '会員登録', new_enduser_registration_path %>
              </li></br>
              <li><%= link_to sanitize('<i class="glyphicon glyphicon-log-in"></i> ') + 'ログイン', enduser_session_path %>
              </li></br>
            </ul>
        <% end %>
      </div>

      <div id="hm-icon">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/script.js"></script>

      <script>
        $(function() {
        $('.menu-trigger').on('click', function() {
          $(this).toggleClass('active');
          $('#sp-menu').fadeToggle();
          return false;
        });
       });
      </script>
      <!-- ハンバーガーメニュー　ここまで -->

    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Tabirepi.inc</p>
    </footer>
</div>
</html>
