<!DOCTYPE html>
<html>
  <head>
    <title>Tabirepi</title>
      <!-- API 地図データ読み込み -->
      <meta charset="utf-8" />
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
      <link rel="stylesheet" href="https://rawgit.com/k4r573n/leaflet-control-osm-geocoder/master/Control.OSMGeocoder.css" />
      <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
      <script src="https://rawgit.com/k4r573n/leaflet-control-osm-geocoder/master/Control.OSMGeocoder.js"></script>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <!-- jQuery slick -->
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

      <!-- application cssファイル読み込み -->
      <link rel="stylesheet" href="application.scss" type="text/css">
  </head>

    <header>
      <nav class="navbar navbar-inverse" style="background-color: #00CCFF;">
        <div class="container">
          <div class="row">

              <div class="col-md-4">
                <h3><div class="sub logocolor">あなたの旅をレシピする</div></h3></br>
                <h1><div class="title logocolor">Tabirepi</div></h1>
              </div>

                <div class="headericon">
                  <div class="col-md-8">
                    <div class="pull-right">
                      <% if enduser_signed_in? %>
                        <ul class="list-inline">
                          <li><%= link_to sanitize('<i class="glyphicon glyphicon-home"></i> ') + 'ホーム', trips_path %>
                          </li>
                          <li><%= link_to sanitize('<i class="glyphicon glyphicon-user"></i> ') + 'マイページ', enduser_path(current_enduser.id) %>
                          </li>
                          <li><%= link_to sanitize('<i class="glyphicon glyphicon-log-out"></i> ') + 'ログアウト', destroy_enduser_session_path, method: :delete %>
                          </li>
                          <li><%= link_to sanitize('<i class="glyphicon glyphicon-trash"></i> ') + "退会", enduser_registration_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-danger", class: "btn btn-danger btn-xs" %>
                          </li>
                        </ul>
                      <% elsif admin_signed_in? %>
                          <ul class="list-inline">
                            <li><%= link_to "ユーザー一覧", admins_path %></li>
                            <li><%= link_to "旅行情報", admin_trips_path %></li>
                            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
                          </ul>
                      <% else %>
                          <ul class="list-inline">
                            <li><%= link_to sanitize('<i class="glyphicon glyphicon-home"></i> ') + 'ホーム', trips_path %>
                            </li>
                            <li><%= link_to sanitize('<i class="glyphicon glyphicon-edit"></i> ') + '会員登録', new_enduser_registration_path %>
                            </li>
                            <li><%= link_to sanitize('<i class="glyphicon glyphicon-log-in"></i> ') + 'ログイン', enduser_session_path %>
                            </li>
                          </ul>
                        <% end %>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-3">
              <p>Tabirepi.inc</p>
            </div>
          </div>
        </div>
      </footer>
</html>
